span {
    font-size: 32px;
    color: #ff022c;
    text-decoration: #006699;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 100vh;
    transform: rotate(270deg);
    rotation: 270deg;
    margin: 15px;
    padding: 10px;
    border: 20px;
    border-color: blue;
    background-color: cyan;
}

p {
    font-size: 28px;
    color: orange;
    text-decoration: #006699;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 100vh;
    margin: 315px;
    padding: 10px;
    border: 20px;
    border-color: blue;
    background-color: royalblue;
    width: 325px;
}